@model IEnumerable<Saturn.Model.ViewModels.ContactPersonViewModel>

@{
    ViewBag.Title = "Контакт особи";
}

<h3>@ViewBag.Title</h3>

@(Html.Kendo().Grid(Model)
    .Name("grid")
    .Columns(columns =>
    {
        columns.Bound(p => p.Name);
        columns.Bound(p => p.ContactType);
        columns.Bound(p => p.ContactValue);

        columns.Template(@<text></text>).ClientTemplate("<a class='btn btn-default btn-sm' href='" + Url.Action("Edit", "ContactPerson") + "/#= Id #'" + "><span class='glyphicon glyphicon-pencil'></span></a>").Width(50);
        columns.Template(@<text></text>).ClientTemplate("<a class='btn btn-danger btn-sm' href='" + Url.Action("Delete", "ContactPerson") + "/#= Id #'" + "><span class='glyphicon glyphicon-remove'></span></a>").Width(50);
    })
    .ToolBar(toolbar =>
    {
        toolbar.Template(
            @<text>
                <a class="btn btn-info btn-sm" href="@Url.Action("Create", "ContactPerson")"><span class='glyphicon glyphicon-plus'></span> Додади</a>
            </text>);
    })
    .Pageable()
    .Sortable()
    .Filterable()
    .Reorderable(o => o.Columns(true))
    .Resizable(r => r.Columns(true))
    .DataSource(dataSource => dataSource
        .Ajax()
        .PageSize(10)
        .Read(read => read.Action("Read", "ContactPerson"))
    )
)
@Html.ActionLink("Авто школи", "Index", "DrivingSchool", null, new { @class = "btn btn-link" })