@model Saturn.Model.Codebooks.RequiredDocument

@{
    ViewBag.Title = "Документи";
}

<div>
    <h3>Детали за документ</h3>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ReqDocument)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReqDocument)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Промени", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Вратисе назад", "Index")
</p>
