@model Saturn.Model.Codebooks.City

@{
    ViewBag.Title = "Градов - Бришење на град";
}

<h3>Дали сте сигурни дека сакате да го избришете следново?</h3>
<div>
    <h4>Град</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Избриши" class="btn btn-default" /> |
            @Html.ActionLink("Вратисе назад", "Index")
        </div>
    }
</div>
