@model IEnumerable<Saturn.Model.Views.ViewExaminations>

@{
    ViewBag.Title = "Поминати терними";
}

<h3>@ViewBag.Title</h3>

@(Html.Kendo().Grid(Model)
    .Name("grid")
    .Columns(columns =>
    {
        columns.Template(@<text></text>).ClientTemplate("<a href='" + Url.Action("CandidatesList", "Examination") + "/#= ExaminationId #'" + ">Кандидати</a>").Width(90);
        columns.Template(@<text></text>).ClientTemplate("<a href='" + Url.Action("ExaminationResult", "Examination") + "/#= ExaminationId #'" + ">Резултати</a>").Width(90);
    
        columns.Bound(p => p.ExamDateTime).Format("{0:dd.MM.yyyy}").Title("Датум").Width(100);
        columns.Bound(p => p.ExamDateTime).Format("{0:HH:mm}").Title("Време").Width(70);
        columns.Bound(p => p.ExamType);
        columns.Bound(p => p.ExamCenter).Width(100);
        columns.Bound(p => p.PresidentName);
        columns.Bound(p => p.ExaminerName);
        columns.Bound(p => p.MemberName);
    })
    .Pageable()
    .Sortable()
    .Groupable()
    .Filterable()
    .Reorderable(o => o.Columns(true))
    .Resizable(r => r.Columns(true))
    .DataSource(dataSource => dataSource
        .Ajax()
        .PageSize(15)
        .Read(read => read.Action("PassedExaminations_Read", "Examination"))
    )
)

@Html.ActionLink("Tермини", "Index", null, new { @class = "btn btn-link" })
