@{
    ViewBag.Title = "Заботавена лозинка";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Ве молиме проверете го вашиот е-маил за да ја ресетирате вашата лозинка.
    </p>
</div>

