
@{
    ViewBag.Title = "Статистика";
}

<h3>@ViewBag.Title</h3>
<br />
<table class="table table-striped">
    <tr>
        <td>
            @Html.ActionLink("Најчести грешки од пректичен дел од испит", "ExamErrors")
        </td>
    </tr>
    <tr>
        <td>
            @Html.ActionLink("Ангажман на членовите на испитните комисии", "Examiner")
        </td>
    </tr>
</table>

