@model IEnumerable<Saturn.Model.Codebooks.ExamRegistrationStatus>

@{
    ViewBag.Title = "Статус на пријава за испит";
}

<h2>@ViewBag.Title</h2>

@(Html.Kendo().Grid(Model)
    .Name("grid")
    .Columns(columns =>
    {
        columns.Bound(p => p.Status);
    })
    .DataSource(dataSource => dataSource
        .Ajax()
        .Read(read => read.Action("Read", "ExamRegistrationStatus"))
    )
)
