@model IEnumerable<Saturn.Model.ViewModels.InstructorViewModel>

@{
    ViewBag.Title = "Инструктори";
}

<h3>@ViewBag.Title</h3>

@(Html.Kendo().Grid(Model)
    .Name("grid")
    .Columns(columns =>
    {
        columns.Bound(p => p.FirstName);
        columns.Bound(p => p.LastName);
        columns.Bound(p => p.UniqueNumber);
        columns.Bound(p => p.DrivingSchool);
        columns.Bound(p => p.Theory).ClientTemplate("<input type='checkbox' name='IsInternalCb' #= Theory? 'checked' : '' # disabled /> ");
        columns.Bound(p => p.Practice).ClientTemplate("<input type='checkbox' name='IsInternalCb' #= Practice? 'checked' : '' # disabled /> ");
        columns.Bound(p => p.IsActive).ClientTemplate("<input type='checkbox' name='IsInternalCb' #= IsActive? 'checked' : '' # disabled /> ");

        columns.Template(@<text></text>).ClientTemplate("<a class='btn btn-default btn-sm' href='" + Url.Action("Edit", "Instructor") + "/#= Id #'" + "><span class='glyphicon glyphicon-pencil'></span></a>").Width(50);
        columns.Template(@<text></text>).ClientTemplate("<a class='btn btn-danger btn-sm' href='" + Url.Action("Delete", "Instructor") + "/#= Id #'" + "><span class='glyphicon glyphicon-remove'></a>").Width(50);
    })
    .ToolBar(toolbar =>
    {
        toolbar.Template(
            @<text>
                <a class="btn btn-info btn-sm" href="@Url.Action("Create", "Instructor")"><span class='glyphicon glyphicon-plus'></span> Додади</a>
            </text>);
    })
    .Pageable()
    .Sortable()
    .Filterable()
    .Reorderable(o => o.Columns(true))
    .Resizable(r => r.Columns(true))
    .DataSource(dataSource => dataSource
        .Ajax()
        .PageSize(15)
        .Read(read => read.Action("Read", "Instructor"))
    )
)
