@model IEnumerable<Saturn.Model.ViewModels.ReqDocCandidateViewModel>

@{
    ViewBag.Title = "Кандидат документи";
}

<h3>@ViewBag.Title</h3>

@(Html.Kendo().Grid(Model)
    .Name("grid")
    .Columns(columns =>
    {
        columns.Bound(p => p.ReqDocument);
        columns.Bound(p => p.DocumentNumber).Width(150);
        columns.Bound(p => p.IssueDate).Format("{0:dd.MM.yyyy}").EditorTemplateName("DateTime").Width(150);
        columns.Bound(p => p.ValidTo).Format("{0:dd.MM.yyyy}").EditorTemplateName("DateTime").Width(150);
        columns.Command(command => { command.Edit(); }).Width(86);
    })
    .ToolBar(toolbar =>
    {
        toolbar.Save(); // The "save" command saves the changed data items
    })
    .Editable(editable => editable.Mode(GridEditMode.InCell))
    .Sortable()
    .DataSource(dataSource => dataSource
        .Ajax()
        .Batch(true)
        .PageSize(10)
        .Model(model => model.Id(p => p.Id))
        .Read(read => read.Action("Read", "ReqDocCandidate"))
        .Update(update => update.Action("Update", "ReqDocCandidate"))
        .Destroy(update => update.Action("Destroy", "ReqDocCandidate"))
    )
)